<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>upload file</title>
</head>
<body>
<!--
<label>upload file (common)</label>
<form enctype="multipart/form-data" action="/api/v2/upload" method="post" >
    <input type="file" accept="*/*" name="file">
    <button type="submit">提交</button>
</form>
<label>multi upload file (common)</label>
<form enctype="multipart/form-data" action="/api/v2/multiUpload" method="post" >
    <input type="file" accept="*/*" name="files" multiple>
    <button type="submit">提交</button>
</form>
<hr>
-->
<label>upload file (auth)</label>
<form>
    <input type="file" accept="*/*" name="file" id="upload">
    <button type="button" onclick="uploadFile('upload')">提交</button>
</form>
<label>multi upload file (auth)</label>
<form>
    <input type="file" accept="*/*" name="file" multiple id="multiUploadForm">
    <button type="button" onclick="uploadFile('multipart')">提交</button>
</form>
<label for="">token</label>
<input type="text" placeholder="input your token" id="token">
<button onclick="checkToken()">检验token</button>
<script>
    const $ = (el) => document.querySelector(el)
    const uploadFile = (uploadType) => {
        const token = $('#token').value
        var formData = new FormData();
        const headers = {
            'Authorization': `${token}`,
        }
        if (uploadType === 'upload') {
            var fileField = $('#upload');
            formData.append('file', fileField.files[0]);
            fetch("/api/v1/upload", {
                method: "POST",
                headers,
                body: formData
            })
                .then(res => res.json())
                .then((resData) => {
                    console.log(resData)
                })
        } else {
            const multiUploadFormFile = $('#multiUploadForm');
            for (let i = 0; i < multiUploadFormFile.files.length; i++) {
                formData.append('files', multiUploadFormFile.files[i]);
            }
            fetch("/api/v1/multiUpload", {
                method: "POST",
                headers,
                body: formData
            })
                .then(res => res.json())
                .then((resData) => {
                    console.log(resData)
                })
        }
    }

    const checkToken = () => {
        const token = $('#token').value
        const headers = {
            'Content-Type': 'application/json',
            'Authorization': `${token}`,
        }
        fetch("/api/v1/user/profile", {
            headers
        })
            .then(res => res.json())
            .then(({data}) => {
                console.log(data)
            })
    }
</script>
</body>
</html>